/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0 !important;
}

/* Стилі для заголовків */
.HN {
    font-size: 24px !important;
    color: blue !important;
}

/* Стилі для абзаців */
.paragraph {
    line-height: 1.5;
}

/* Стилі для посилань */
a {
    color: inherit !important; /* За замовчуванням інколірні посилання */
    text-decoration: none !important; /* Видалити підкреслення */
    font-weight: bold !important; /* Зробити жирним */
}

/* Стилі для списків */
ul, ol, dl {
    margin: 0;
    padding: 0;
}

.list-circle {
    list-style-type: circle !important;
}

.list-decimal {
    list-style-type: decimal !important;
}

/* Стилі для таблиць */
.table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.th {
    background-color: #ddd;
}

/* Стилі для картинок */
.product-img {
    width: 200px;
    height: 150px;
    margin: 10px;
}

/* Стилі для плаваючого фрейму */
.floating-frame {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 200px;
}
